PLATFORM="patas"
BASE_MODEL="allenai/led-base-16384"
CHECKPOINT="models/led-base/billsum_clean_train_se3-led-1024-512_simple/1024_512_5_epochs/checkpoint-29415/"
MODE="dev"
TRAINFILE="preprocess/data/billsum_clean_train_se3-led-1024-512_simple.csv"
TESTFILE="preprocess/data/billsum_clean_test_se3-led-1024-512.csv"
BLANKTARGETS="drop"
BATCH_SIZE=4