PLATFORM="patas"
BASE_MODEL="allenai/led-base-16384"
CHECKPOINT="KEEP_BLANKS_CHANGE_NAME/billsum_clean_train_se3-led-2048-512_simple/2048_512_5_epochs/checkpoint-38490/"
MODE="dev"
TRAINFILE="preprocess/data/billsum_clean_train_se3-led-1024-512_simple.csv"
TESTFILE="preprocess/data/billsum_clean_test_se3-led-1024-512.csv"
BLANKTARGETS="keep"
BATCH_SIZE=4